body {
    font-family: 'helvetica';
  }

.formBox {
    width: 300px;
    height: 300px;
    float: center;
    margin: 100px;
    padding: 100px;
    font-size: 15pt;
    text-align: left;
}

.box {
    height: 40px;
    width: 40px;
    border: 5px black solid;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    font-size: 15pt;
    color: black;
}

.
